.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-075);
}

.label {
  color: var(--text-default);
  cursor: default;
}

.required {
  color: var(--text-danger);
}

.description {
  color: var(--text-subtle);
}

.error {
  color: var(--text-danger);
}
