.tooltip {
  z-index: 1600;
  max-width: 260px;
  padding: var(--space-075) var(--space-100);
  border-radius: var(--cntnr-corner-small);
  background-color: var(--color-neutral-solid-900);
  color: var(--text-alternative);
  font-family: var(--liga-font-family);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.25px;
  box-shadow: var(--shadow-z-index-eleveation-2-blur, 0 4px 12px) rgb(0 0 0 / 0.18);
  box-shadow: 0 4px 12px rgb(15 23 42 / 0.18);
}
